<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status ="WARN" monitorInterval="30">
    <Properties>
        <Property name ="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name ="APP_LOG_ROOT">/Users/bean/logs</Property>
    </Properties>
    <Appenders>
        <Console name = "Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="appLog"
                     FileName="${APP_LOG_ROOT}/employee-mgmt/application.log"
                     FilePattern="${APP_LOG_ROOT}/employee-mgmt/application-%d{yyyy-MM-dd}%i,log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRollOverStrategy max="1"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.bean.employee" additivity="false">
            <AppenderRef ref="applog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
              <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>